SQLAlchemy~=2.0.5.post1
pandas~=1.5.3
psycopg2-binary
numpy~=1.24.3
pip~=20.0.2
pytz~=2023.3
setuptools~=44.0.0
scipy~=1.10.1
joblib~=1.2.0
python-dateutil~=2.8.2
scikit-learn~=1.2.2
threadpoolctl~=3.1.0
six~=1.16.0
greenlet~=2.0.2
Pillow~=9.5.0
matplotlib~=3.7.1
contourpy~=1.0.7
fonttools~=4.39.4
pyparsing~=3.0.9
cycler~=0.11.0
packaging~=23.1
kiwisolver~=1.4.4
zipp~=3.15.0
requests~=2.30.0
certifi~=2023.5.7
idna~=3.4
urllib3~=2.0.2
surprise~=0.1